annotated-types
anyio
asgiref
cffi
charset-normalizer
click
contourpy
crispy-bootstrap5
cryptography
cycler
distro
dj-database-url
django
django-crispy-forms
djangorestframework
fastapi
fonttools
greenlet
gunicorn
h11
idna
jpype1
kiwisolver
matplotlib
narwhals
numpy
packaging
pandas
pdfminer-six
pillow
pip
plotly
pycparser
pydantic
pydantic-core
pyparsing
python-dateutil
pytz
six
sniffio
sqlalchemy
sqlparse
starlette
typing-extensions
typing-inspection
tzdata
uvicorn
